.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modal {
  background: #111;
  color: #fff;
  width: 100%;
  max-width: 500px;
  border-radius: 20px 20px 0 0;
  padding: 30px 20px;
  animation: slideUp 0.4s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
}

button {
  padding: 12px;
  background: #e1e0e0;
  border: none;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.cancelBtn {
  background: transparent;
  color: #aaa;
  text-decoration: underline;
}

.confirmation {
  text-align: center;
}
.serviceImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 8px;
}
